##
# postgres settings
##

# credentials for tredata postgres
PG_USER=username
PG_PASSWORD=password

# external (outside docker) port for postgres
PG_TARGET_PORT=5433

##
# omop lite settings
##

# only used if connecting to a "remote" host
# i.e. not in the same compose stack/docker network
# as in `omop-lite-only.compose.yml`
PG_HOST=

# ideally keep this consistent
PG_DB=tredata

# ideally name clearly for the dataset
# or match Project name if a project specific load
PG_SCHEMA=omop1k

## Optionally use built in synthetic data

SYNTHETIC=true # comment out to disable, don't use a "false" value
SYNTHETIC_NUMBER=1000 # 100 or 1000

## Optionally bring your own data

# this is a path to be used for volume mapping
# to where the CSV files for loading are

# It must be set to something but will be unused if SYNTHETIC=true
OMOP_DATA_SOURCE=.

# Only use this if your own data is OMOP 5.3 and not 5.4
#OMOP_VERSION=omop5_3
